body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #E4F6F8;
}

header {
    font-family: 'Arial', sans-serif;
    text-align: left;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #000000;
    font-weight: bold;
    /* Added */
}

h2 {
    font-family: 'Arial', sans-serif;

    color: #000000;
}

p {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #000000;
}

a {
    color: #FF0000;
    text-decoration: underline;
}

a:hover {
    color: #FF0000;

}